MySQL访问凭据
DB_USERNAME=XXXXXXXXXXX
DB_PASSWORD=XXXXXXXXXXX

Redis访问凭据
REDIS_URL=XXXXXXXXXXX

JWT密钥
JWT_SECRET=XXXXXXXXXXX

邮箱服务器
EMAIL_SERVER=XXXXXXXXXXX
MAIL_USERNAME=XXXXXXXXXXX
MAIL_PASSWORD=XXXXXXXXXXX